.body { background-color: #f9f1e4 !important; }
.caixa {
    background-color: #ffffef !important;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
}
.verdao {
    background-color: #4A8C4A !important;
}
.text{
    color: #4A8C4A!important;
    
}
